@import "tailwindcss";

@theme {
  --font-manrope: var(--font-manrope), sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: var(--font-manrope), sans-serif;
}

@keyframes revealUp {
  0% {
    transform: translateY(115%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealDown {
  0% {
    transform: translateY(-115%);
  }

  100% {
    transform: translateY(0);
  }
}

.mask-container {
  display: block;
  overflow: hidden;
}

.reveal-text {
  display: block;
  animation: revealUp 1.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  transform: translateY(115%);
}

.reveal-nav-item {
  display: flex;
  align-items: center;
  animation: revealDown 1.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  transform: translateY(-115%);
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes floatClouds {
  0% {
    transform: scale(1.05) translateX(0px);
  }

  50% {
    transform: scale(1.05) translateX(-120px);
  }

  100% {
    transform: scale(1.05) translateX(0px);
  }
}

.floating-clouds {
  animation: floatClouds 14s ease-in-out infinite;
}